// グローバルナビ
.o-global-nav {
    height: 100%;
    display: flex;
    align-items: center;

    ul {
        height: 100%;
        display: flex;
        justify-content: end;
    }

    li {
        display: flex;
    }

    a {
        align-items: center;
        height: 100%;
        display: flex;
        text-decoration: none;
        color: $font-color;
        padding: 0 20px;
        position: relative;
        letter-spacing: .1em;

        &::after {
            content: '';
            display: block;
            height: 2px;
            width: 100%;
            position: absolute;
            left: 0;
            bottom: 0;
            background: #1cb335;
            transform: scale(0, 1);
            transition: .3s;
        }

        &:hover {
            &::after {
                transform: scale(.5, 1);
            }
        }
    }
}

//キービジュアル
.o-key-visual {
    height: calc(100vh - $header-height);
    display: block;

    img {
        height: 100%;
        object-fit: cover;
    }
}

// コピーライト
.o-copyright {
    letter-spacing: .1em;
    font-size: 1.2rem;
}
