// グローバルナビ
.o-global-nav {
    z-index: 2;
    position: fixed;
    right: 0;
    top: $header-height;
    height: calc(100vh - #{$header-height});

    &.open {
        ul {
            transform: translateX(0);
        }
    }

    ul {
        position: relative;
        transform: translateX(100%);
        background: rgba(#fff, .3 );
        padding: 20px 30px;
        transition: .3s;
        height: 100%;
    }

    a {
        text-decoration: none;
        color: $font-color;
        height: 30px;
        margin-bottom: 10px;
        display: flex;
    }

    //PCの設定はすべてここへ
    @include mq($breakpoint: md) {
        background: none;
        position: inherit;
        height: 100%;
        display: flex;
        align-items: center;

        ul {
            height: 100%;
            display: flex;
            justify-content: end;
            background: none;
            padding: 0;
            transform: translateX(0);
        }

        li {
            display: flex;
        }

        a {
            align-items: center;
            height: 100%;
            display: flex;
            margin-bottom: 0;

            padding: 0 20px;
            position: relative;
            letter-spacing: .1em;

            &::after {
                content: '';
                display: block;
                height: 2px;
                width: 100%;
                position: absolute;
                left: 0;
                bottom: 0;
                background: #1cb335;
                transform: scale(0, 1);
                transition: .3s;
            }

            &:hover {
                &::after {
                    transform: scale(.5, 1);
                }
            }
        }
    }//Media Query
}

//ナビボタン
.o-global-nav-btn {
    border: none;
    position: fixed;
    top: 30px;
    right: 15px;
    width: 30px;
    height: 26px;
    background: none;

    //ボタン
    &::after,
    &::before {
        position: absolute;
        background: #1cb335;
        content: '';
        height: 2px;
        width: 100%;
        left: 0;
        display: block;
        transition: transform .3s;
    }

    &::before {
        top: 0;
        box-shadow: 0 12px 0  #1cb335;
    }

    &::after {
        top: 24px;
    }

    //開閉時のアニメーション
    &.open {
        &::before {
            top: 0;
            box-shadow: none;
            transform: rotate(45deg) translate(9px, 9px);
        }
        &::after {
            top: 24px;
            transform: rotate(-45deg) translate(8px, -8px);
        }
    }

    @include mq($breakpoint: md) {
        display: none;
    }//Media Query
}

//キービジュアル
.o-key-visual {
    height: calc(100vh - $header-height);
    display: block;

    img {
        height: 100%;
        object-fit: cover;
    }
}

// コピーライト
.o-copyright {
    letter-spacing: .1em;
    font-size: 1.2rem;
}
